.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content { position: absolute; width: 100%; height: 100%; z-index:1;}

body { background-color: #000000; margin: 0px 0px 0px 0px;}

.webgl-content. gameContainer { background: #000000; }


.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('etx_white_logo.png') no-repeat center / contain; width: 380px; height: 87px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('etx_white_logo.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

/*
NB: 04/02/2018
Removed references to exitFullButton
*/

/*
.webgl-content .exitFullButton {
	position: relative;
	top: -100%;
	right: -85%;
	background-image: url(https://nmbruce.github.io/TemplateData/exit-full-screen-hi.png);
	background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    z-index: 20000;
}
*/
/*
NB: 04/12/2018;
Moved fullsceen button beneath menu button to avoid issues with other
UI buttons overlapping with cache case and fullscreen button showing
up in weird places on some Anrdoid devices
*/
.fullscreen {
	position: absolute;
	right: 0%;
	top: 10%;
	border: blue;
	z-index: 999;
}

.fullscreen .fullButton {
	background: url(https://nmbruce.github.io/TemplateData/full-screen-hi.png);
	background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    z-index: 999;
}